<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Sonata</title>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        body {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Add Sonata</h2>


<!--    <div th:if="${errorMessage!=null}"
        style="color:red;font-style:italic" th:utext="${errorMessage}">..</div> -->

<form th:action="@{/addSonata}" th:object="${addSonataForm}" method="POST">

    <div class="form-group">
        <label for="sonata_id">sonata_id</label>
        <input type="number"	class="form-control"  placeholder="Enter sonata_id" th:field="*{sonata_id}" />
    </div>
    <div class="form-group">
        <label for="duration">duration</label>
        <input type="number"	class="form-control"  placeholder="Enter duration" th:field="*{duration}" />
    </div>
    <div class="form-group">
        <label for="opuses_number">opuses_number</label>
        <input type="number"	class="form-control"  placeholder="Enter opuses_number" th:field="*{opuses_number}" />
    </div>
    <div class="form-group">
        <label for="compositor">compositor</label>
        <input type="text"  class="form-control"  placeholder="Enter compositor" th:field="*{compositor}" />
    </div>
    <div class="form-group">
        <label for="part_number">part_number</label>
        <input type="number"  class="form-control"  placeholder="Enter part_number" th:field="*{part_number}" />
    </div>
    <div class="form-group">
        <label for="application">application</label>
        <input type="text"  class="form-control"  placeholder="Enter application" th:field="*{application}" />
    </div>
    <div class="form-group">
        <label for="cell_id">cell_id</label>
        <input type="number"  class="form-control"  placeholder="Enter cell_id" th:field="*{cell_id}" />
    </div>
    <td><input type="submit"  class="btn btn-success"  value="Add"/></td>
    </tr>
    </table>
</form>

</body>
</html>